{# Héritage de base.html #}
{% extends "base.html" %}


{# modification de la balise Title #}
{% block title %}Back-Office{% endblock title %}


{# Ajout du CSS personnalisé pour cette page dans le head de base.html #}
{% block head %}
{{ super() }}
{% endblock head %}


{# Ajout des liens de navigation propre a la page #}
{% block liens %}
{% endblock liens %}

{# Ajout du content propre à la page #}
{% block content %}

<div class="flex flex-row justify-evenly my-5">
    <form action="{{ url_for('new_admin.new_admin') }}" method="GET" class="text-sm text-white font-Saiba drop-shadow-xl p-1.5 rounded-lg bg-violet-600 hover:bg-green-600 hover:text-violet-600">
        <button type="submit" class="">Créer Utilisateur</button>
    </form>

    <form action="{{ url_for('logout.logout') }}" method="POST" class="lg:absolute lg:right-16 lg:top-20 text-sm text-white font-Saiba drop-shadow-xl p-1.5 rounded-lg bg-red-500 hover:bg-green-600 hover:text-red-600">
        <button type="submit" class="">Se déconnecter</button>
    </form>
</div>




<div class="flex flex-col text-center">
    {# Zone d'ajout de nouveau produits #}
    <div class="border border-green-700 flex-col items-center rounded-lg shadow-xl m-5 p-5 text-sm font-RobotoRegular">
        <p class="text-center font-RobotoBold uppercase mb-5 2xl:text-xl">Ajouter un nouveau produit</p>
        {# Affiche un message de succès si l'ajout du produit est une réussite #}
        {% if add_product_success %}
            <p class="text-center text-green-600 font-RobotoBold">Produit ajouté avec succès<br>
                Vous pouvez proceder a un nouvel enregistrement</p>
        {% else %}
        {% endif %}

        {# Affiche un message en cas d'erreur sur l'image ajouté ou l'absence d'image #}
        {% if error_image %}
            <p class="text-center font-RobotoBold text-red-600">Merci d'ajouter une image valable</p>
        {% else %}
        {% endif %}

        {# Affiche un message en cas d'erreur lors de l'ajout du nouveau produit #}
        {% if error_add_product %}
            <p class="text-center font-RobotoBold text-red-600">Echec de l'ajout du produit, merci de verifier les informations remplies</p>
        {% else %}
        {% endif %}

        <form class="mt-3 flex flex-col sm:items-center sm:justify-center xl:flex-row xl:flex-wrap xl:gap-x-5 gap-y-5" method="POST" action="{{url_for('ProductWS.create_product')}}"
              enctype="multipart/form-data" id="new-product-form">
            <div class="flex xl:flex-col">
                <label class="font-RobotoItalic me-3 font-bold" for="name">Nom de l'article</label>
                <input type="text" class="rounded-lg p-1 text-green-700 font-RobotoBold uppercase" name ="name" id="name">
            </div>

            <div>
                <select class="form-select rounded-2xl p-2 text-white bg-green-600 font-RobotoItalic" aria-label="category_name" name ="category_name" id="category_name">
                    <option selected>Choisir une catégorie</option>
                        {% for categorie in categories %}
                            <option value="{{ categorie }}"> {{ categorie }}</option>
                        {% endfor %}
                </select>
                <a href="{{ url_for('new_category.new_category') }}" class="ms-1 p-2 rounded-lg bg-teal-500 drop-shadow-xl hover:bg-green-600">
                    Nouvelle catégorie
                </a>
            </div>
            <div class="flex xl:flex-col justify-center">
                <label for="image_data" class="font-RobotoItalic font-bold">Image</label>
                <input type="file" accept=".png, .jpg" id="image_data" class="" name="image_data" formenctype="multipart/form-data">
            </div>
            <div class="flex xl:flex-col">
                <label for="price" class="font-RobotoItalic me-4 font-bold">Prix</label>
                <input type="number" min="0" step="0.01" class="rounded-lg p-2 text-center text-green-700" id="price" name="price">
            </div>
            <div class="flex items-center justify-center">
                <label for="description" class="font-RobotoItalic me-4 font-bold">Description <br/> (max 150)</label>
                <textarea class="rounded-lg text-green-700 p-2" id="description" name="description" cols="30" rows="5"></textarea>
            </div>
            <div class="flex xl:flex-col xl:items-center">
                <label for="promo_start" class="me-3 font-RobotoItalic font-bold">Début promotion</label>
                <input type="date" class="rounded-lg p-1.5 text-green-700" id="promo_start" name="promo_start">
            </div>
            <div class="flex xl:flex-col xl:items-center">
                <label for="promo_end" class="me-3 font-RobotoItalic font-bold">Fin promotion</label>
                <input type="date" class="rounded-lg p-1.5 text-green-700" id="promo_end" name="promo_end">
            </div>
            <div class="flex xl:flex-col xl:items-center">
                <label for="promo_amount" class="font-RobotoItalic font-bold">Montant promotion (%)</label>
                <input type="number" min="0" max="100" class="w-16 text-center p-1.5 rounded-lg text-green-700" id="promo_amount" name="promo_amount">
            </div>
            <div class="text-center">
                <input type="submit" value="Ajouter" class="font-Saiba text-white rounded-lg bg-green-600 p-2 hover:cursor-pointer hover:scale-110 hover:underline drop-shadow-lg">
            </div>
        </form>
    </div>


    {# Zone modification de produit #}
    <div class="border border-green-700 rounded-lg shadow-xl m-5  text-sm font-RobotoRegular">

    <p class="text-center font-RobotoBold uppercase mb-5 pt-5 2xl:text-xl">Modifier un produit</p>

    {# Affiche un message en cas d'erreur lors de la modification du produit #}
    {% if error_modify_product %}
                <p class="text-center font-RobotoBold text-red-600">Echec de la mise a jour du produit <br>
            Aucunes modifications n'as été effectuées</p>
    {% else %}
    {% endif %}

    {# Affiche un message en cas d'erreur lors de la suppression du produit #}
    {% if product_deleted %}
        <p class="text-center text-green-600 font-RobotoBold">Produit supprimé avec succès</p>
    {% else %}
    {% endif %}

        {# endroit ou les Articles apparaissent #}
        <div class="flex flex-col items-center text-sm md:flex-row md:flex-wrap md:gap-x-16 md:justify-center"
         id="product-display">
                {% for product in products %}
                        <div class="flex flex-col items-center shadow-md hover:shadow-lg shadow-green-600 hover:scale-110 hover:shadow-blue-700 transition rounded-2xl my-8 w-1/2 md:w-1/4 xl:w-1/5">
                            <div class="text-center p-2 my-2 text-base">
                                <h5 class="font-Saiba">{{ product.name }}</h5>
                            </div>

                            <div class="overflow-hidden w-44 h-44 md:w-auto">
                                <img src="data:image;base64,{{ product.image_data }}" class="object-contain w-full h-full" alt="Image 1">
                            </div>

                            <div class="m-5">
                                    <p class="text-center font-RobotoItalic">{{ product.category_name }}</p>
                                    <p class="py-3">{{ product.description }}</p>
                                {% if product.promo_start != product.promo_end %}
                                    {% if product.promo_end > today %}
                                        <p class="text-red-600">PROMO</p>
                                        <p>{{ product.promo_amount }}% jusqu'au: {{ product.promo_end }}</p>
                                        <p class="text-red-600 text-base"><span class="old-price text-black">{{ product.price }}</span>
                                            Nouveau prix: <span class="font-RobotoBold text-red-600">{{ product.new_price| round(2) | float }}€</span></p>
                                    {% else %}
                                        <p class="font-RobotoBold text-base">Prix: {{ product.price }}€</p>
                                    {% endif %}
                                {% else %}
                                        <p class="font-RobotoBold text-base">Prix: {{ product.price }}€</p>
                                {% endif %}


                            </div>

                                <a class="p-2 my-2 rounded-lg bg-red-800 hover:bg-red-600 hover:scale-110 drop-shadow-xl text-white"
                                   href="{{ url_for('product_update.product_update', product_id=product.id_product) }}">
                                    Modif/Suppr</a>

                        </div>
                {% endfor %}
        </div>

    </div>
</div>


<script src="{{url_for('static', filename="scripts/back_office.js")}}"></script>

{% endblock content %}