{# Héritage de base.html #}
{% extends "base.html" %}


{# modification de la balise Title #}
{% block title %}Back-Office{% endblock title %}


{# Ajout du CSS personnalisé pour cette page dans le head de base.html #}
{% block head %}
{{ super() }}
{% endblock head %}


{# Ajout des liens de navigation propre a la page #}
{% block liens %}
{% endblock liens %}

{# Ajout du content propre à la page #}
{% block content %}

<div class="">
    <form action="{{ url_for('logout.logout') }}" method="POST">
        <button type="submit" class="">Se déconnecter</button>
    </form>
</div>


<div class="">
    <form action="{{ url_for('new_admin.new_admin') }}" method="GET">
        <button type="submit" class="">Créer Utilisateur</button>
    </form>
</div>

<div class="">
    {# Zone d'ajout de nouveau produits #}
    <div class="">
        <p class="">Ajouter un nouveau produit</p>
        {# Affiche un message de succès si l'ajout du produit est une réussite #}
        {% if add_product_success %}
            <p class="">Produit ajouté avec succès<br>
                Vous pouvez proceder a un nouvel enregistrement</p>
        {% else %}
        {% endif %}

        {# Affiche un message en cas d'erreur sur l'image ajouté ou l'absence d'image #}
        {% if error_image %}
            <p class="">Merci d'ajouter une image valable</p>
        {% else %}
        {% endif %}

        {# Affiche un message en cas d'erreur lors de l'ajout du nouveau produit #}
        {% if error_add_product %}
            <p class="">Echec de l'ajout du produit, merci de verifier les informations remplies</p>
        {% else %}
        {% endif %}

        <form class="" method="POST" action="{{url_for('ProductWS.create_product')}}"
              enctype="multipart/form-data" id="new-product-form">
            <div class="">
                <label for="name">Nom de l'article</label>
                <input type="text" class="" name ="name" id="name">
            </div>

            <div class="">
                <select class="" aria-label="category_name" name ="category_name" id="category_name">
                    <option selected>Choisir une catégorie</option>
                        {% for categorie in categories %}
                            <option value="{{ categorie }}"> {{ categorie }}</option>
                        {% endfor %}
                </select>
                <a href="{{ url_for('new_category.new_category') }}" class="">
                    Nouvelle catégorie
                </a>

            </div>

            <div class="">
                <label for="description">Description (max 150)</label>
                <textarea class="" id="description" name="description" cols="30" rows="5"></textarea>
            </div>
            <div class="">
                <label for="image_data">Image</label>
                <input type="file" accept=".png, .jpg" id="image_data" class="" name="image_data" formenctype="multipart/form-data">
            </div>
            <div class="">
                <label for="price">Prix</label>
                <input type="number" min="0" step="0.01" class="" id="price" name="price">
            </div>
            <div class="">
                <label for="promo_start">Début promotion</label>
                <input type="date" class="" id="promo_start" name="promo_start">
            </div>
            <div class="">
                <label for="promo_end">Fin promotion</label>
                <input type="date" class="" id="promo_end" name="promo_end">
            </div>
            <div class="">
                <label for="promo_amount">Montant promotion (%)</label>
                <input type="number" min="0" max="100" class="" id="promo_amount" name="promo_amount">
            </div>
            <div class="">
                <input type="submit" value="Ajouter" class="">
            </div>
        </form>
    </div>

    {# Zone modification de produit #}
    <div class="">

    <p class="">Modifier un produit</p>

    {# Affiche un message en cas d'erreur lors de la modification du produit #}
    {% if error_modify_product %}
        <p class="">Echec de la mise a jour du produit <br>
            Aucunes modifications n'as été effectuées</p>
    {% else %}
    {% endif %}

    {# Affiche un message en cas d'erreur lors de la suppression du produit #}
    {% if product_deleted %}
        <p class="">Produit supprimé avec succès</p>
    {% else %}
    {% endif %}

        {# endroit ou les Articles apparaissent #}
        <div class="">
            <div class="">
                {% for product in products %}
                    <div class="">
                    <div class="">
                    <h5 class="">{{ product.name }}</h5>
                    <img src="data:image;base64,{{ product.image_data }}" class="" alt="Image Article">
                    <div class="">
                    <p class="">{{ product.category_name }}</p>
                    <p class="">{{ product.description }}</p>
                    {% if product.promo_start != product.promo_end %}
                        {% if product.promo_end > today %}
                            <p style="color:red">PROMO</p>
                            <p class="">{{ product.promo_amount }}% jusqu'au: {{ product.promo_end }}</p>
                            <p class=""><span class="">{{ product.price }}</span>
                            Nouveau prix: <span class="">{{ product.new_price| round(2) | float }}€</span></p>
                        {% else %}
                            <p class="">Prix: {{ product.price }}€</p>
                        {% endif %}
                    {% else %}
                        <p class="">Prix: {{ product.price }}€</p>
                    {% endif %}

                        <a class="" href="{{ url_for('product_update.product_update', product_id=product.id_product) }}">
                        Modif/Suppr</a>
                    </div>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>

<script src="{{url_for('static', filename="scripts/back_office.js")}}"></script>

{% endblock content %}