<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercadona - {% block title %}{% endblock %}</title>
  <link href="{{url_for('static',filename='styles/output.css')}}" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon-m.png')}}">
  {% block head %}
  {% endblock %}
</head>

<body>
  <header>
    <nav class="flex flex-col items-center bg-green-600">
      <div class="p-2">
        <p class="font-RobotoBold">MERCADONA</p>
      </div>
      <div class="w-full flex flex-row justify-evenly gap-3 mb-3">
          <div class="">
            <a href="{{url_for('homepage.homepage')}}" class="">Accueil</a>
          </div>
          <div class="">
            <a href="{{url_for('catalogue.catalogue')}}" class="">Catalogue</a>
          </div>
          <div class="">
                {% if session.get('user') == 'admin' %}
                    <a href="{{url_for('back_office.back_office')}}" class="">
                    Back Office(connecté)
                    </a>
                {% else %}
                    <a href="{{url_for('login.login')}}" class="">
                    Admin
                    </a>
                {% endif %}
          </div>
            {% block liens %}
            {% endblock %}
      </div>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>


  <footer class="foot navbar bg-body-secondary justify-content-center fixed-bottom border-1 border-top border-dark">
    <div >
      <p>Mercadona - copyright 2023</p>
    </div>
  </footer>



  <script src="{{url_for('static', filename='scripts/bootstrap.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/catalogue.js')}}"></script>
</body>


</html>