{# Héritage de base.htmlt #}
{% extends "base.html" %}


{# modification de la balise Title #}
{% block title %}Catalogue{% endblock title %}


{# Ajout du CSS personnalisé pour cette page dans le head de base.html #}
{% block head %}
{{ super() }}
{% endblock head %}


{# Ajout des liens de navigation propre a la page #}
{% block liens %}
{% endblock liens %}


{# Ajout du content propre à la page #}
{% block content %}

    <div >
      <div >
        <div>
          <p>Filtrer les articles</p>
        </div>

        <form action="" method="" id="filter">
            <div>
                {# Zone de filtrage des produits souhaités par catégorie #}
                <select class="" aria-label="Selection de la categorie">
                  <option selected>Choisir une catégorie</option>
                    {% for categorie in categories %}
                        <option value="{{ categorie }}"> {{ categorie|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
              <p class="">Ordre d'affichage</p>
            </div>

            <div>
               {# Zone de filtrage des produits souhaités par prix #}
                <div class="">
                  <input class="" type="radio" name="tri-choix" id="croissant" value="croissant" checked>
                  <label class="" for="croissant">
                    Ordre croissant (du - cher au + cher)
                  </label>
                </div>
                <div class="">
                  <input class="" type="radio" name="tri-choix" id="decroissant" value="decroissant">
                  <label class="" for="decroissant">
                    Ordre décroissant (du + cher au - cher)
                  </label>
                </div>
            </div>

              <div class="">
                  <button type="submit" class="">Appliquer</button>
              </div>
        </form>
      </div>

      {# endroit ou les Articles apparaissent #}
    <div class="" id="product-display">
            <div class="">
                {% for product in products %}

                    <div class="">
                        <div class="">
                            <h5 class="">{{ product.name }}</h5>
                            <img src="data:image;base64,{{ product.image_data }}" class="" alt="Image 1">
                            <div class="">
                                <p>{{ product.category_name }}</p>
                                <p>{{ product.description }}</p>
                            {% if product.promo_start != product.promo_end %}
                                {% if product.promo_end > today %}
                                    <p style="color:red">PROMO</p>
                                    <p>{{ product.promo_amount }}% jusqu'au: {{ product.promo_end }}</p>
                                    <p><span class="old-price">{{ product.price }}</span>
                                        Nouveau prix: <span class="new-price">{{ product.new_price| round(2) | float }}€</span></p>
                                {% else %}
                                    <p>Prix: {{ product.price }}€</p>
                                {% endif %}
                            {% else %}
                                    <p>Prix: {{ product.price }}€</p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
<script src="{{url_for('static', filename='scripts/catalogue.js')}}"></script>
{% endblock content %}
