
<a href="{{ url_for('catalogue.catalogue') }}"
   class="">
    Retour au Catalogue
</a>

<div class="" id="product-display">
    <div class="">
        {% for product in products %}
            <div class="">
                <div class="">
                    <h5 class="">{{ product.name }}</h5>
                    <img src="data:image;base64,{{ product.image_data }}" class="" alt="Image 1">
                    <div class="">
                        <p class="">{{ product.category_name }}</p>
                        <p class="">{{ product.description }}</p>
                    {% if product.promo_start != product.promo_end %}
                        {% if product.promo_end > today %}
                            <p style="color:red">PROMO</p>
                            <p class="">{{ product.promo_amount }}% jusqu'au: {{ product.promo_end }}</p>
                            <p class=""><span class="">{{ product.price }}</span>
                                Nouveau prix: <span class="">{{ product.new_price| round(2) | float }}€</span></p>
                        {% else %}
                            <p class="">Prix: {{ product.price }}€</p>
                        {% endif %}
                    {% else %}
                            <p class="">Prix: {{ product.price }}€</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
