{# Héritage de base.html #}
{% extends "base.html" %}

{# modification de la balise Title #}
{% block title %}Nouvel utilisateur{% endblock %}

{# Ajout du CSS personnalisé pour cette page dans le head de base.html #}
{% block head %}
{{ super() }}
{% endblock  %}

{# Ajout des liens de navigation propre a la page #}
{% block liens %}
{% endblock  %}


{# Ajout du content propre à la page #}
{% block content %}
<a href="{{ url_for('back_office.back_office') }}"
       class="">
        Retour au back-office
    </a>

    <div class="">
        <div class="">


            <form class="" method="POST" action="{{url_for('admin_ws.create_user')}}">
                <div class="">
                    <label for="identifiant" class="">Identifiant</label>
                    <input type="text" class="" name ="identifiant" id="identifiant">
                </div>
                <div class="">
                    <label for="password" class="">Mot de passe</label>
                    <input type="password" class="" name ="password" id="password">
                </div>
                <div class="">
                    <input type="submit" class="" value="Créer">
                </div>
            </form>
        </div>
    </div>


{% endblock %}