{# Héritage de base.html #}
{% extends "base.html" %}


{# modification de la balise Title #}
{% block title %}Login{% endblock title %}


{# Ajout du CSS personnalisé pour cette page dans le head de base.html #}
{% block head %}
{{ super() }}
{% endblock head %}


{# Ajout des liens de navigation propre a la page #}
{% block liens %}
{% endblock liens %}


{# Ajout du content propre à la page #}
{% block content %}
<div class="flex flex-col bg-gradient-to-tr from-gray-100 to-gray-700 py-20 items-center">

    <form action="{{url_for('login.traitement')}}" method="POST" class="flex flex-col bg-gradient-to-tr from-green-700 to-gray-300 pt-5 px-7 md:pt-14 md:px-16 rounded-3xl shadow-2xl">



      <p class="flex flex-col items-center mb-8 md:mb-16">
        <label for="id" class="font-Saiba text-xl">Identifiant</label>
        <input type="text" class="rounded-lg mt-3 p-1" name="id" id="id">
      </p>

      <p class="flex flex-col items-center">
        <label for="mdp" class="font-Saiba text-xl">Mot de passe</label>
        <input type="password" class="rounded-lg mt-3 p-1" name="mdp" id="mdp">
      </p>

        {# CONDITION SI LA CONNEXION A ECHOUEE LE MESSAGE SE RAJOUTE #}
    {%if connexion==False %}
      <p class="text-red-600 font-RobotoBold mt-5">
        Identifiant ou mot de passe incorrect
      </p>
    {% else %}
    {% endif %}

      <p class="text-center mt-16 mb-12 bg-gray-300 rounded-3xl py-2 font-Saiba text-green-700 hover:scale-110 hover:cursor-pointer shadow-2xl md:my-24">
        <input type="submit" value="Connexion" class="hover:cursor-pointer">
      </p>

    </form>

</div>

{% endblock content%}