{# Héritage de base.html #}
{% extends "base.html" %}

{# modification de la balise Title #}
{% block title %}Nouvelle categorie{% endblock %}

{# Ajout du CSS personnalisé pour cette page dans le head de base.html #}
{% block head %}
{{ super() }}
{% endblock  %}

{# Ajout des liens de navigation propre a la page #}
{% block liens %}
{% endblock  %}


{# Ajout du content propre à la page #}
{% block content %}

    <a href="{{ url_for('back_office.back_office') }}"
       class="">
        Retour au back-office
    </a>

    <div class="">
        <div class="">
            <form class="" method="POST" action="{{url_for('categoryWs.create_category')}}">
                <div class="">
                    <label for="libelle" class="">Nom de la nouvelle catégorie a créer</label>

                    {% if added_category %}
                        <p class="">Catégorie ajoutée avec succès</p>
                    {% else %}
                    {% endif %}
                    <input type="text" class="" name ="libelle" id="libelle">
                </div>
                <div class="">
                    <input type="submit" class="">
                </div>
            </form>
        </div>


        <div class="" >
            <div class="" >
                <p class="">Catégories déjà présentes et disponibles</p>
            </div>

            <div class="">
                <ul class="">
                    {% for categorie in categories %}
                        <li class="">{{ categorie }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

{% endblock %}