.bo-elem1{
  width: 50%;
}

.bo-elem2{
  width: 50%;
}


.bo-fs-p{
  font-size: 0.90rem;
}

.bo-fs-label{
  font-size: 0.80rem;
}

.bo-elem2-elems{
  height:80vh;
}

.bo-elem2-elem1{
  width: 20%;
}

.bo-elem2-elem2{
  width: 80%;
}

.row{
  margin-bottom: 100px;
  gap: 7px;
  justify-content: space-evenly;
}

.retour-bo{
  position: absolute;
  left: 10%;
  margin-top: 10px;
}