.elem{
  height:75vh;
}

.elem1{
  width: 20%; 
}

.elem2{
  width: 80%;
}


.catalogue-fs-p{
  font-size: 0.90rem;
}

.catalogue-fs-label{
  font-size: 0.80rem;
}

.row{
  margin-bottom: 100px;
  gap: 7px;
  justify-content: space-evenly;
}

.retour-catalogue{
  position: absolute;
  right: 5%;
}